.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.explore-menu h1 {
    color: #343a40;
    font-weight: 600;
    text-align: center;
}

.explore-menu-text {
    max-width: 60%;
    color: #6c757d;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

.explore-menu-list {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.explore-menu-list-inner {
    display: flex;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

.explore-menu-list-inner::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-inner {
    scrollbar-width: none;
}

.explore-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 240px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image-container {
    margin-bottom: 10px;
}

.image-container img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e2e2e2;
    transition: border 0.3s ease;
}

.explore-menu-item p {
    margin-top: 10px;
    color: #495057;
    font-size: 1.4rem;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-800px);
    }
}

.explore-menu-item.active .image-container {
    border: 4px solid tomato;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}
